:root {
  --main-bg-color: #d3b599;
  --sidebar-bg-color: #354461;
  --container-bg-color: #f2f3ee;
  --sidebar-txt-color: #ffffff;
  --sidebar-link-color: #d6b596;
  --main-txt-color: #354461;
  --minor-txt-color: #864b10;
  --accent-color: #d97f5e;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg-color);
}

h4 {
  color: var(--main-txt-color);
}

p,
li {
  color: var(--minor-txt-color);
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: var(--container-bg-color);
  margin: 40px auto;
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--main-txt-color);
  margin-bottom: 10px;
}

/* About me section */
.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-txt-color);
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: var(--main-txt-color);
}

.about-me-descriptions {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--minor-txt-color);
  text-align: justify;
}

/* My projects section */

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 20px;
}

.my-projects-item {
  color: var(--main-txt-color);
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--minor-txt-color);
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--minor-txt-color);
  margin-left: 5px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-txt-color);
}

/* My work experience */

.my-work-experiance-company {
  color: var(--accent-color);
}

.my-projects-link .my-work-experiance-section {}

.education__institution {
  color: var(--main-txt-color);
}

.education__course {
  color: var(--accent-color);
}

/* Sidebar section */

.sidebar-section {
  background: var(--sidebar-bg-color);
  width: 370px;
  padding: 40px 0;
}

.Contact-section,
.Tech-skills-section,
.Soft-skills-section,
.languages-section {
  margin: 50px 0 0 40px;
}

.Side-bar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--sidebar-txt-color);
  margin-bottom: 10px;
}

/* Photo section */
.Photo {
  width: 370px;
  height: 354px;
  left: 40px;
  top: 80px;
}

/* Contacts section */

.Contact-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--sidebar-txt-color);
  margin-right: 5px;
}

.Contact-section-link {
  color: var(--sidebar-link-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Skills sections */

.Skills-list {
  padding: 0 0 0 17px;
}

.Skills-item {
  color: var(--accent-color);
}

.Skils-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--sidebar-txt-color);
}

/*languages sections */

.languages-list {
  padding: 0 0 0 17px;
}

.languages-item {
  color: var(--accent-color);
}

.languages-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--sidebar-txt-color);
}

.languages__level {
  color: var(--sidebar-link-color);
}